*{margin: 0;}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#container{
    margin-left: 20%;
    margin-right: 20%;
}
#title{
    padding-top: 10%;
    font-weight: 100;
}
#logo{
    padding-right: 1%;
    vertical-align: top;
}
h1{
    font-size: 600%;
    font-weight: 100;
}
h2{
    font-size: 245%;
    font-weight: 100;
}
h3{
    font-size: 245%;
    font-weight: 100;
}
button{
    border: none;
    background: #9b59b6;
    padding: 1%;
    font-size: 248%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    box-shadow: 10px 10px 0 -1px #6d3585;
    transition: all .5s;
    margin: 1%;
}
button:hover{    
    background: #734386;
    box-shadow: none;
    cursor: pointer;
}
button:active{    
    background: #734386;
    box-shadow: 0px 0px 100px 10px #e7bbf8;
    cursor: pointer;
}
#me{
    text-decoration: none;
    transition: all .5s;
}
#me:hover{
    cursor: pointer;
    padding: .5%;
    color: white;
    background: #9b59b6;
    box-shadow: 10px 10px 0 -1px #6d3585;
}